{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Home {% endblock title %}

{% block sidebar %}

{% if name %}

<p> Hi, {{ name }} </p>

<b><li><a href = '/blog/index'>Home</a></li></b>
<b><li><a href = '/blog/create'>Create Article</a></li></b>
<b><li><a href = '/blog/logout'>Logout</a></li></b>

{% else %}

<b><li><a href = '/blog/index'>Home</a></li></b>
<b><li><a href = '/blog/create'>Create Article</a></li></b>
<b><li><a href = '/blog/login'>Login</a></li></b>

{% endif %}

{% endblock sidebar %}

{% block content %}

{%for article in articles %}

<article class="box post post-excerpt">
                                                        <header>
                                                                {% autoescape off %}
                                                                <h2><a href="/blog/get/{{ article.id }}">{{ article.title }}</a></h2>
                                                                {% endautoescape %}
                                                        </header>
                                                        <div class="info">

                                                                <span class="date"><span class="month">{{ article.published | date:"M"}}<span></span></span> <span class="day">{{ article.published | date:"d"}}</span><br><span class="year">{{ article.published | date:"Y"}}</span></span>
                                                              
                                                        </div>
                                                        <a href="#" class="image featured"><img src="{% static 'blog/images/pic01.jpg' %}" alt="" /></a>
                                                        <p>
                                                        {% autoescape off %}
                                                                {{ article.body|truncatewords:10 }}
                                                        {% endautoescape %}
                                                        </p>

                                                </article>
{% endfor %}
 
{% endblock content %}