{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block sidebar %} 

<li class="current"><a href="/blog/login/">Login</a></li>
<b><li><a href = '/blog/index/'>Home</a></li></b>
<b><li><a href = '/blog/create/'>Create Article</a></li></b>

{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class='error'>Invalid username or password</p>
    {% endif %}
    
    <form action='/blog/auth/' method = 'post'>{% csrf_token %}
    <label for='email'>email:</label>
    <input type = 'text' name='email' value = '' id = 'email'>
    <label for='password'>Password:</label>
    <input type='password' name='password' value = '' id = 'password'>
    
    <input type = 'submit' value = 'login'/>
    </form>
    
{% endblock %}